{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&family=Roboto:ital,wght@1,700&family=Sawarabi+Gothic&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Техническая поддержка</title>
</head>

<body>
    <div class="oformlenie">
        <div class="rectangle"></div>
        <div class="pol first"></div>
        <div class="pol second"></div>
        <div class="pol third"></div>
        <div class="pol four"></div>
        <div class="five"></div>
        <div class="six"></div>
        <div class="ramka"></div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>